*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.container {
	width: 1080px;
	margin: 0 auto;
}

body {
	font-family: 'Lato',"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
}

h1 {
	font-family: 'Lato','Montserrat', Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Lato','Montserrat', Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

p {
	line-height: 28px;
}

header {
	width: 100%;
	padding: 50px;
	background-image: url('../images/dark.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;*
}

nav {
	width: 100%;
	float: left;	
}


ul#topnav {
	float: right;
	font-family: 'Lato','Montserrat', Futura, "Trebuchet MS", Arial, sans-serif;
}

ul#topnav li {
	display: inline-block;
	margin-left: 50px;
}

ul#topnav li a {
	color: #fff;
	text-decoration: none;
}

ul#topnav li a:hover {
	color: #000;
}

section#buttons {
	width: 100%;
	float: left;
	padding: 0 70px 70px 70px;
	background-image: url('../images/dark.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;*

}

section#buttons h3 {
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	color: #fff;
}

.btn1 {
	clear: both;
}
#logo {
	height: 400px;
	width: 400px;
	border-radius: 200px;
	background-image: url('../images/mypic.jpg');
	background-size: cover;
	float: left;	
}

.imageeffect {
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	transform: rotate(85deg) scale(1) skew(1deg) translate(10px);
	-webkit-transform: rotate(85deg) scale(1) skew(1deg) translate(10px);
	-moz-transform: rotate(85deg) scale(1) skew(1deg) translate(10px);
}

.imageeffect:hover {	
	transform: rotate(85deg) scale(0.67) skew(1deg) translate(0px);
	-webkit-transform: rotate(85deg) scale(0.67) skew(1deg) translate(0px);
	-moz-transform: rotate(85deg) scale(0.67) skew(1deg) translate(0px);
}



.round-button {
  width:125px;
  height:125px;
  line-height:125px;   
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background-color:rgba(215, 40, 40, 0.9); 
  font-size:20px;
  font-weight:bold;
  float: left;
  margin-left: 20px;
	margin-top: 200px; 
}

.round-button:hover {
  background: #262626;  
	-webkit-animation: cssAnimation .7235s 1 ease-in-out;
	-moz-animation: cssAnimation .7235s 1 ease-in-out;
}

@-webkit-keyframes cssAnimation {
	from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
	to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
	
@-moz-keyframes cssAnimation {
	from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
	to { -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}

section#about {
	float: left;
	padding: 50px;
	width: 100%;
	background-color: #fff;

}

.leftabout {
	float: left;
	width: 50%;
	text-align: center;
	padding: 25px 5px;	
}


.rightabout {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	background-image: url('../images/mypic2.jpg');
	background-size: cover;
	float: left;
	margin-left: 100px;
	margin-top: 75px;
	-moz-transform: rotate(85deg);
	-webkit-transform: rotate(85deg);
	transform: rotate(85deg);	
}

section#resume {
	float: left;
	padding: 70px;
	width: 100%;
	background-color: #605b95;
	background-image: url('../images/13.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	
}


.leftdetails {
	float: left;
	width: 70%;
	border-right: 1px solid #f1f1f1;
	padding-right: 50px;

}

aside.rightdetails {
	width: 30%;
	float: left;
	text-align: center;
	padding: 50px;

}

.rightdetails p {
	margin-bottom: 40px;
}

.rightdetails ul li {
	margin-bottom: 8px;
}

#resume h1 {
	padding-bottom: 50px;

}
.work li{
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 2em;
}
.work li span{
  float: right;
}
.work li h2 {
  float: left;
}

.work li p{
  clear: both;
}

section#projects{
	float: left;
	padding: 70px 50px 100px 50px;
	width: 100%;
	background-color: #fff;
}

section#projects h1,
section#projects p {
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	

}

.project {
	width:250px;
  height:250px;  
  color:#000;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
  text-align:center;
  text-decoration:none;
  background-color:rgba(215, 40, 40, 0.9); 
  font-size:20px;
  font-weight:bold; 
	-moz-border-radius-topleft: 11px;
	-moz-border-radius-topright:48px;
	-moz-border-radius-bottomleft:65px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:11px;
	-webkit-border-top-right-radius:48px;
	-webkit-border-bottom-left-radius:65px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:11px;
	border-top-right-radius:48px;
	border-bottom-left-radius:65px;
	border-bottom-right-radius:0px;
	transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	-webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	-moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
}

.project:hover {	
	transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
}

.pj1 {
	background-image: url('../images/retro.png');
	background-size: cover;
}

.pj2 {
	background-image: url('../images/project2.jpg');
	background-size: cover;	
}

.pj3 {
	background-image: url('../images/bike.jpg');
	background-size: cover;	
}


footer {
	float: left;
	width: 100%;
	background-color: #496273;
	padding: 70px;
	text-align: center;
	color: #fff;
	background-image: url('../images/dark.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
}

ul#buttons {
	width: 100%;
	margin-top: 50px;
}

ul#buttons li {
	display: inline-block;
	margin: 0px 100px;
}

ul#buttons li a {
	display: block;
	color: #fff;
	text-decoration: none;
	border: 1px solid #34bb7d;
	width: 115px;
	padding: 10px;
}


/*  Back to top button */


.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

/* +++++++++++MEDIA QUERIES++++++++++++++++*/


/* MOBILE PORTRAIT */

@media only screen and (min-width: 480px) {

	.container {
		max-width: 100%;
		margin: 0 auto;
	}

	.round-button {
		margin-left: 5px;	 
	}

	.work li span{
		float: right;
	  width: 100%;
	  text-align: left;
	  padding-bottom: 10px;
	 }

}
/* +++++++++++++++++++++++++++++ */
@media only screen and (max-width: 640px) {
  .container {
		max-width: 100%;
		margin: 0 auto;
	}

	
	body {
		font-family: sans-serif;
		font-size: 18px;
		font-weight: 400;
		color: #000;
		background-image: url('../images/dark.jpg'); 	
	}

	h1, h2 {
		font-family: Arial, sans-serif;
	}

	p {
		line-height: 28px;
	}

	header {
		width: 100%;
		padding: 30px;	
	}

	ul#topnav {
		float: left;
		font-family: sans-serif;
	}

	ul#topnav li {
		display: inline-block;
		margin-left: 15px;
	}

	ul#topnav li a {
		color: rgb(0, 167, 117);
		font-size: 20px;
	}

	ul#topnav li a:hover {
		color: blue;
	}

	section#buttons {
		width: 100%;		
		padding: 50px 10px 50px 15px;
	}

	
	#logo {
		height: 150px;
		width: 150px;
		border-radius: 15px;
		background-image: url('../images/mypic.jpg');
		background-size: cover;
		float: left;	
	}

	.imageeffect {
		transition:All 1s ease;
		-webkit-transition:All 1s ease;
		-moz-transition:All 1s ease;
		transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
		-webkit-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
		-moz-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
	}

	.imageeffect:hover {	
		transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
		-webkit-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
		-moz-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
	}

	.btn1 {
		clear: both;
	}

	.round-button {
		float: left;
		width:100px;
	  height:100px;
	  line-height:100px;   
	  border-radius: 50%;		  
	  font-size:20px;	
	  margin-left: 30px;
		margin-top: 50px; 
	}

	.round-button:hover {
	  background: #262626;  
		-webkit-animation: cssAnimation .0s 1 ease-in-out;
		-moz-animation: cssAnimation .0s 1 ease-in-out;
	}

	section#buttons h3 {
		float: right;	
		width: 50%;
		text-align: center;
		padding-left: 0;
		margin-left: 0;
		margin-right: 0;
		color: #fff;
		font-size: 18px;	
	}


	section#about {	
		color: #fff;
		background-color: rgb(0, 167, 117);		
		padding: 15px;
	}

	.leftabout {		
		width: 100%;
		padding: 25px 5px;		
		font-size: 26px;
	}

	.rightabout {
		display: none;
	}

	section#resume {
		padding: 15px;
	}

	.leftdetails {		
		width: 90%;
		border-right: none;
		padding: 0 5px;
	}

	aside.rightdetails {
		clear: both;
		width: 90%;
		float: left;
		display: inline-block;
		padding: 5px;
	}

	.rightdetails ul li {
		margin-bottom: 18px;
	}

	#resume h1 {
		padding-bottom: 50px;
	}
	
	.skills li {
		border-bottom: 0;
	}

	.work li {
	  font-size: 18px;
	}

	
	section#projects{
		padding: 50px;
	}

	section#projects h1,
	section#projects p {
		clear: both;
		float: left;
		width: 80%;
		text-align: center;
	}

	.project {
		width:150px;
	  height:150px;  
	  float: left;
	  margin-top: 50px;
	  margin-left: 0px;	  
	  margin-right: 15px;
	  text-decoration:none;
	  background-color:rgba(215, 40, 40, 0.9); 
		-moz-border-radius-topleft: 11px;
		-moz-border-radius-topright:48px;
		-moz-border-radius-bottomleft:65px;
		-moz-border-radius-bottomright:0px;
		-webkit-border-top-left-radius:11px;
		-webkit-border-top-right-radius:48px;
		-webkit-border-bottom-left-radius:65px;
		-webkit-border-bottom-right-radius:0px;
		border-top-left-radius:11px;
		border-top-right-radius:48px;
		border-bottom-left-radius:65px;
		border-bottom-right-radius:0px;
		transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
		-webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
		-moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	}

	.project:hover {
		transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
		-webkit-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
		-moz-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
	}

	footer {
		float: left;
		width: 100%;
		background-color: #496273;
		padding: 10px;
		text-align: center;
		color: #fff;
		background-image: url('../images/dark.jpg'); 
		background-size: cover;
		background-repeat: no-repeat;
	}

	footer h1{
		text-align: center;
	}
	
	ul#buttons {
		width: 100%;
		margin-top: 50px;
		padding-left: -50px;
	}

	ul#buttons li {
		display: inline-block;
		margin: 15px;
	}

	ul#buttons li a {
		display: block;
		color: #fff;
		text-decoration: none;
		border: 1px solid #34bb7d;
		width: 115px;
		padding: 10px;
	}


	/*  Back to top button */


	.go-top {
		position: fixed;
		bottom: 2em;
		right: 2em;
		text-decoration: none;
		color: white;
		background-color: rgba(0, 0, 0, 0.3);
		font-size: 12px;
		padding: 1em;
		display: none;
	}

	.go-top:hover {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

/*++++++++++++++++++++++++++++*/
@media only screen and (max-width: 768px) { 
  .container {
	width: 100%;
	}


section#buttons {
	width: 100%;
	float: left;
	padding: 0 70px 70px 70px;
	background-color: gray;
}

section#buttons h3 {
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	color: #fff;
}

#logo {
	height: 200px;
	width: 200px;
	border-radius: 50px;
}

.imageeffect {
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
}

.imageeffect:hover {	
	transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
}

.round-button {
  width:100px;
  height:100px;
  line-height:100px;
  border-radius: 10px;
 	margin-top: 0 auto; 
}

.round-button:hover {
  background: #262626;  
	-webkit-animation: cssAnimation .0s 1 ease-in-out;
	-moz-animation: cssAnimation .0s 1 ease-in-out;
}

@-webkit-keyframes cssAnimation {
	from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
	to { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
}
	
@-moz-keyframes cssAnimation {
	from { -moz-transform: rotate(0deg) scale(0) skew(0deg) translate(0px); }
	to { -moz-transform: rotate(0deg) scale(0) skew(0deg) translate(0px); }
}

section#about {
		color: #fff;
		background-color: rgb(0, 167, 117);		
		padding: 15px;
	}

.project {
		width:200px;
	  height:200px;  
	  float: left;
	  margin-top: 50px;
	  margin-left: 0px;	  
	  margin-right: 15px;
	  text-decoration:none;
	  background-color:rgba(215, 40, 40, 0.9); 
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright:48px;
		-moz-border-radius-bottomleft:65px;
		-moz-border-radius-bottomright:0px;

		-webkit-border-top-left-radius:0px;
		-webkit-border-top-right-radius:48px;
		-webkit-border-bottom-left-radius:65px;
		-webkit-border-bottom-right-radius:0px;

		border-top-left-radius:0px;
		border-top-right-radius:48px;
		border-bottom-left-radius:65px;
		border-bottom-right-radius:0px;

		transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
		-webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
		-moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	}

	.project:hover {
		transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
		-webkit-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
		-moz-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px);
	}


}


